.nav--container {
  position: absolute;
  width: 100%;
  height: 7%;
  background: #F55A5A;
}

.nav--world {
  position: absolute;
  width: 24px;
  height: 23.52px;
  left: 45%;
  top: 30%;
  background: #F55A5A;
}

.nav--text {
  position: absolute;
  width: 20%;
  height: 10%;
  left: 47%;
  top: 10%;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}

.card--container {
  position: absolute;
  width: 471px;
  height: 10%;
  left: 2%;
  top: 10%;
}

.card--pic{
  position: absolute;
  width: 126px;
  height: 168px;
  border-radius: 5px;
}

.card--main {
  width: 326px;
  height: 144px;
}

.card--loc {
  position: absolute;
  width: 7px;
  height: 9.55px;
  left: 30%;
  top: 18px;
  background: #FFFFFF;
}

.card--country {
  position: absolute;
  width: 72px;
  height: 10px;
  left: 32%;
  top: 9px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
}

.card--google {
  position: absolute;
  width: 106px;
  height: 13px;
  left: 49%;
  top: 9px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;
  /* identical to box height */
  text-decoration-line: underline;
  color: #918E9B;
}

.card--title {
  position: absolute;
  width: 326px;
  height: 33px;
  left: 30%;
  top: 26px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
}

.card--date {
  position: absolute;
  width: 319px;
  height: 11px;
  left: 30%;
  top: 73px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
}

.card--desc {
  position: absolute;
  width: 326px;
  height: 60px;
  left: 30%;
  top: 93px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */
  color: #2B283A;
}
